*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --secondary: hsl(213deg, 20%, 22%);
    --font: 'Overpass', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-dark-blue);
}

.hidden{
    display: none;
}

.card{
    background-color: var(--dark-blue);
    border-radius: 1rem;
    width: 350px;
}

.card_container{
    padding: 2rem;
}

.star_icon{
    background-color: var(--secondary);
    width: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.title{
    color: var(--white);
    margin-bottom: 1rem;
}

.description{
    font-size: 14px;
    color: var(--medium-grey);
    margin-bottom: 1rem;
}

.ratings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.ratings span{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 50%;
    color: var(--medium-grey);
    margin-bottom: 1rem;
    cursor: pointer;
}

.ratings span:hover{
    background-color: var(--light-grey);
    color: var(--white);
}

.submit_btn{
    width: 100%;
    color: var(--white);
    border: none;
    border-radius: 2rem;
    background-color: var(--orange);
    padding: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.submit_btn:hover{
    background-color: var(--white);
    color: var(--orange);
}

.thank_section{
    text-align: center;
}

.chip{
    background-color: var(--secondary);
    width: fit-content;
    margin: 1rem auto;
    color: var(--orange);
    font-size: 14px;
    padding: 0.7rem;
    border-radius: 2rem;
}

.checked{
    background-color: var(--orange) !important;
    color: var(--white);
}